body {
  padding: 0px;
  margin: 0px;
  /*이렇게 나란히 쓰면 영문, 한글 폰트를 알아서 적용시켜줌*/
  font-family: "Inter", "Noto Sans KR", sans-serif;
  // background-color: black;
}
ul,
li,
input,
button,
select {
  margin: 0px;
  padding: 0px;
  list-style: none;
  border: none;
  appearance: none;
}

.header {
  background-color: #fefaf5;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0px;
  right: 0px;
  z-index: 1;
  .list {
    // border: 1px solid red;
    display: flex;
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;
  }
  .logo {
    position: absolute;
    top: 20px;
    // left: calc(50% - 100px);
    transform: translate(
      -50%,
      0
    ); //얘를 위치잡을때 남발하면 나중에 애니메이션 못쓴다는건 알아두셈
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
  img {
    width: 100%;
    display: block; // Img도 글자취급을 받아서 살짝 들뜸이 생기는데 얘를 쓰면 박스처리가 되어서 틈이 사라짐
  }
  .item {
    // background: url(../img/item-img.png);
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    position: relative;
    width: 50%;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box; /*박스 안쪽으로 라인을 주는것*/
    &:nth-child(2n) {
      border-right: none;
    }

    .item-text {
      // border: 1px solid blue;
      position: absolute;
      top: 70px;
      left: 50px;
      font-size: 14px;
    }
  }
}
